@charset "UTF-8";

	body{
		background-color: white;

	}

	div#bigodas{
		width: 900px; /* aqui é o tamanho que a interface cobrirá a pagina */
		height: 500px;
		background-color: #ffffff;
		margin: 50px auto 0px 250px; /* cima / direita / baixo / esquerda */
		padding: 10px;
		box-shadow: 0px 0px 10px rgba(0,0,0,.5);

	}

	section#menu{
		 /* aqui vamos dimencionar a nossa interface */
		


	}

	aside#principal p{
		font-family: 'Ranger';		
		font-size: 30pt;
		text-align: center;
	}

	figure.menu-img {
		position: absolute;
		top: 0px;
		left: -10px;
			
	}

	figure.menu-img img{
		position: relative;
			
	}

	/* Formatação do Menu */

	nav#menu-bigodas{
		display: block;

	}

	nav#menu-bigodas ul{
		font-family: 'Ranger';
		font-size: 20pt;
		color: black;	
		list-style: none;	
		position: absolute;
		top: 220px;
		left: 10px;		
	}

	nav#menu-bigodas li{
		padding: 10px;
		margin: 2px;
	}


	nav#menu-bigodas h3{
		display: none;

	}

	nav#menu-bigodas a {
		color: #000000;
		text-decoration: none;
		transition: 0.5s;
	}

	nav#menu-bigodas a:hover{
		color: #f30b0b;
		transition: 0.5s;
		
	}

	footer#rodape{
		clear: both;
	}

	footer#rodape p{
		text-align: center;
	}